---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
import { Image } from 'astro:assets';
import coverImage from '@assets/images/releases/my_beats/cover.jpg';
import platformBrandImageAppleMusic from '@assets/images/releases/apple_music.svg';
import platformBrandImageBandcamp from '@assets/images/releases/bandcamp.svg';
import platformBrandImageSpotify from '@assets/images/releases/spotify.svg';

const links = [
  {
    slug: 'apple-music',
    label: 'Listen',
    url: 'https://music.apple.com/jp/album/%E3%82%8F%E3%81%9F%E3%81%97%E3%81%AE%E3%83%93%E3%83%BC%E3%83%88-single/1721439039',
    platform_brand_name: 'Apple Music',
    platform_brand_image: platformBrandImageAppleMusic,
  },
  {
    slug: 'spotify',
    label: 'Listen',
    url: 'https://open.spotify.com/album/7cmcjQmMP6lzAEBKuyPUyR?si=C3bXQIpPSxSaYpbKSvdgbg',
    platform_brand_name: 'Spotify',
    platform_brand_image: platformBrandImageSpotify,
  },
  {
    slug: 'bandcamp',
    label: 'Listen',
    url: 'https://shikakun.bandcamp.com/track/--16',
    platform_brand_name: 'Bandcamp',
    platform_brand_image: platformBrandImageBandcamp,
  },
];
---

<Layout
  title='わたしのビート'
  description='「わたしのビート」という曲をつくって、Apple MusicとSpotifyとBandcampで配信しました。'
  openGraph={{
    basic: {
      title: 'shikakun / わたしのビート',
      type: 'website',
      image: 'https://shikakun.com/images/releases/my_beats/ogimage.jpg',
    },
  }}
>
  <main class='page'>
    <div class='container'>
      <div class='body'>
        <div class='main'>
          <div class='cover'>
            <Image
              src={coverImage}
              alt='写真：河川敷に立つ1本の大きな木。空には薄い朝焼けのグラデーションがかかり、水面には対岸の建物が写り込んでいる。'
            />
          </div>
          <header class='header'>
            <h1 class='title'>わたしのビート</h1>
          </header>
          <ul class='list'>
            {
              links.map((link) => (
                <li class='item'>
                  <div class='platform-brand'>
                    <img
                      class='platform-brand-image'
                      src={link.platform_brand_image.src}
                      alt={link.platform_brand_name}
                      width={link.platform_brand_image.width}
                      height={link.platform_brand_image.height}
                    />
                  </div>

                  <div class='action'>
                    <div class='action-container'>
                      <Button
                        element='a'
                        href={link.url}
                        target='_blank'
                        rel='noopener noreferrer'
                        appearance='filled'
                        trailingIcon='arrow_right'
                      >
                        {link.label}
                      </Button>
                    </div>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
        <div class='caption'>
          <p>
            この曲は
            <a
              href='https://adventar.org/calendars/9039'
              target='_blank'
              rel='noopener noreferrer'
            >
              2023 Advent Calendar 2023
            </a>
             の16日目のURLとして制作しました。
          </p>
          <p>きのうはjunebokuさんでした。あしたはnagayamaさんです。</p>
        </div>
      </div>
    </div>

    <style lang='scss'>
      @use '@styles/variables';
      @use '@styles/functions';
      @use '@styles/mixins';
      @use 'sass:math';
      @use 'sass:map';

      .page {
        @include mixins.page;
      }

      .container {
        @include mixins.container;
      }

      .body {
        padding: functions.get-sizing-scale-size(192) 0;
        display: flex;
        flex-direction: column;
        gap: functions.get-spacing-size(4xl);
      }

      .main {
        display: flex;
        flex-direction: column;
        gap: functions.get-spacing-size(2xl);
        max-width: functions.get-content-size(xs);
      }

      .header {
        @include mixins.initialize(header);
        display: flex;
        flex-direction: column;
        gap: functions.get-spacing-size(m);
      }

      .title {
        @include mixins.initialize(heading);
        letter-spacing: 0.025em;
        @include mixins.text(xl, dense);
        @include mixins.kerning;
        @include mixins.mq-boundary(up, m) {
          @include mixins.text(2xl, dense);
        }
      }

      .list {
        @include mixins.initialize(ul);
        display: flex;
        flex-direction: column;
        gap: functions.get-spacing-size(m);
      }

      .item {
        @include mixins.initialize(li);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &::after {
          $line-width-size: functions.get-line-width-size(l);

          content: '';
          display: block;
          position: absolute;
          bottom: math.div(functions.get-interactive-component-size(m), 2);
          width: 100%;
          height: functions.get-line-width-size(l);
          background-color: currentColor;
          z-index: -1;
        }
      }

      .platform-brand {
        padding-right: functions.get-spacing-size(m);
        background-color: functions.get-primitive-color(white);
        @include mixins.mq-boundary(down, xs) {
          box-sizing: border-box;
          width: 100%;
        }
      }

      .platform-brand-image {
        display: block;
        height: functions.get-interactive-component-size(m);
        width: auto;
      }

      .action {
        display: flex;
        justify-content: flex-end;
        @include mixins.mq-boundary(down, xs) {
          box-sizing: border-box;
          width: 100%;
        }
      }

      .action-container {
        padding-left: functions.get-spacing-size(m);
        background-color: functions.get-primitive-color(white);
      }

      .caption {
        p {
          @include mixins.initialize(p);
          @include mixins.text(m, confort);
        }

        a {
          @include mixins.text-link;
        }
      }
    </style>
  </main>
</Layout>
